<footer>
    <div class="container">
        <div class="footer-logo">
            <img src="/images/logo.png" alt="Mindset.i" class="footer-logo-img">
        </div>
        <p>&copy; 2026 Mindset.i. All rights reserved.</p>
        <p class="philosophy">"All that you are looking for is at the place you are looking from."</p>
    </div>
</footer>